.col-xs-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-xs-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-xs-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-xs-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-xs-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-xs-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-xs-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-xs-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-xs-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-xs-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-xs-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-xs-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .col-sm-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-sm-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Yusei Magic", sans-serif;
  background-color: #f3f3f3;
}

.header {
  padding: 15px 10px;
  background-color: white;
  border-bottom: 3px solid #4e26fd;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: flex;
  margin: 0 -15px;
}

[class*=col-] {
  padding: 0 15px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.block-center {
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu li {
  border: 2px solid transparent;
  padding: 5px;
  margin: 5px;
}
.menu li a {
  text-decoration: none;
  display: block;
  color: black;
  font-size: 18px;
  width: max-content;
  height: 30px;
  line-height: 30px;
}
.menu li:hover {
  border: 2px solid #4e26fd;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.search-form {
  background-color: black;
  padding: 10px;
  border-bottom: 25px solid #4e26fd;
  color: white;
}
.search-form .place {
  height: 35px;
  width: 270px;
  padding-left: 5px;
}
.search-form .search-title {
  padding: 10px 0 5px 10px;
}
.search-form .guest-rooms {
  padding: 10px 0 5px 50px;
}
.search-form .chekin-date {
  height: 35px;
  width: 130px;
  margin-right: 10px;
}
.search-form .chekout-date {
  height: 35px;
  width: 130px;
}
.search-form .search-adult {
  height: 35px;
  width: 80px;
}
.search-form .search-children {
  height: 35px;
  width: 90px;
  margin-right: 3px;
  margin-left: 3px;
}
.search-form .search-rooms {
  height: 35px;
  width: 80px;
}
.search-form .search-button {
  height: 35px;
  width: 267px;
  margin: 20px 0;
  color: white;
  background-color: #4e26fd;
  outline-color: black;
  border: 3px solid #4e26fd;
}
.search-form button:hover {
  color: #4e26fd;
  background-color: white;
  border: 4px solid #4e26fd;
  font-weight: bold;
}
.search-form input {
  outline-color: black;
}

.reservation-dates {
  display: flex;
}

.filter-menu {
  width: 300px;
  margin: 20px 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 25px solid #4e26fd;
  padding-left: 10px;
}

.filter-title {
  padding: 25px 10px 10px 10px;
  text-decoration: overline;
}

.showmoreoptions {
  padding: 15px 0;
}
.showmoreoptions a {
  text-decoration: none;
  font-size: 18px;
  color: black;
}
.showmoreoptions:hover {
  text-decoration: underline;
}

.filtersubmit {
  padding: 25px 0;
}
.filtersubmit button {
  height: 35px;
  width: calc(100% - 30px);
  color: white;
  background-color: #4e26fd;
  outline-color: none;
  border: 3px solid #4e26fd;
}
.filtersubmit button:hover {
  color: #4e26fd;
  background-color: white;
  border: 4px solid #4e26fd;
  font-weight: bold;
}

.hotel-card {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  border: 1px solid black;
  margin: 20px 0;
  transition: all 1s;
}
.hotel-card .hotel-photo {
  margin-bottom: 5px;
  padding: 5px;
  width: 100%;
  border: 1px solid #e0d9d9;
  position: relative;
}
.hotel-card .hotel-photo a {
  display: block;
}
.hotel-card .hotel-photo a img {
  width: 100%;
}
.hotel-card .hotel-photo a:last-child {
  margin-top: 8px;
}
.hotel-card .hotel-photo .wishlist {
  width: 25px;
  height: 25px;
  outline: none;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  background: url(images/heart_grey_icon.png) no-repeat center;
}
.hotel-card .hotel-photo .wishlist:hover {
  background: url(images/heart_blue_icon.png) no-repeat center;
}
.hotel-card:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.hotel-card-descriptoin {
  padding: 5px;
  border: 1px solid #e0d9d9;
  margin-bottom: 5px;
}
.hotel-card-descriptoin .hotel-name {
  padding-top: 5px;
  padding-bottom: 5px;
}
.hotel-card-descriptoin .hotel-name a {
  text-decoration: none;
  display: block;
  color: black;
  font-size: 18px;
}
.hotel-card-descriptoin .hotel-name a:hover {
  color: blue;
  text-decoration: underline;
}
.hotel-card-descriptoin .hotel-address {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}
.hotel-card-descriptoin .hotel-address-map {
  padding: 5px 22px;
  background: url(images/location_a.png) no-repeat;
}
.hotel-card-descriptoin .hotel-address-map a {
  text-decoration: none;
  display: block;
  color: black;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}
.hotel-card-descriptoin .hotel-address-map a:hover {
  color: blue;
  text-decoration: underline;
}
.hotel-card-descriptoin .hotel-conditions {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  padding: 10px 0;
  line-height: 1.4em;
}
.hotel-card-descriptoin .hotel-comments {
  padding: 10px 0;
}
.hotel-card-descriptoin .hotel-comments a {
  text-decoration: none;
  display: block;
  color: black;
  font-size: 14px;
}
.hotel-card-descriptoin .hotel-comments a:hover {
  color: blue;
  text-decoration: underline;
}

.hotel-card-information {
  padding: 5px;
  border: 1px solid #e0d9d9;
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
}
.hotel-card-information .hotel-mark {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.hotel-card-information .hotel-mark .hotel-rating {
  width: 100px;
  height: 50px;
  background: url(images/star_ran.png) no-repeat 0 49%;
}
.hotel-card-information .hotel-mark .hotel-grade {
  width: 45px;
  height: 45px;
  font-size: 20px;
  background-color: yellow;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
}
.hotel-card-information .reservation-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 20px;
}
.hotel-card-information .center {
  display: flex;
  justify-content: center;
}
.hotel-card-information .center .room-price {
  width: calc(100% - 40px);
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 22px;
  background-color: #2dac2d;
  border-radius: 5px;
  margin-bottom: 30px;
}
.hotel-card-information .look-avaible-rooms {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.hotel-card-information .look-avaible-rooms a {
  display: block;
  text-decoration: none;
  width: calc(100% - 40px);
  height: 45px;
  line-height: 45px;
  border-radius: 5px;
  font-size: 18px;
  border: 2px solid #070788;
}
.hotel-card-information .look-avaible-rooms a:hover {
  color: white;
  background-color: #070788;
}

.footer {
  background-color: black;
  padding-top: 15px;
}
.footer .logo {
  padding: 20px 0;
}
.footer .footer-contacts {
  color: white;
  font-family: "Open Sans", sans-serif;
  padding: 0 5px 10px 10px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}
.footer .phone-number {
  width: max-content;
  height: 20px;
  line-height: 20px;
  padding-left: 25px;
  margin-bottom: 5px;
  background: url(images/phone_vertical_icon.png) no-repeat 4% 0;
}
.footer .email-adress {
  width: max-content;
  height: 20px;
  line-height: 20px;
  padding-left: 25px;
  margin-bottom: 5px;
  background: url(images/mail_icon.png) no-repeat 2% 56%;
}
.footer .adress {
  width: max-content;
  height: 20px;
  line-height: 20px;
  padding-left: 25px;
  margin-bottom: 5px;
  background: url(images/location_icon.png) no-repeat;
}

.social-networks {
  color: white;
  text-align: center;
  padding: 15px;
}

.social-networks-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.social-networks-list li {
  border: 1px solid white;
  margin-left: 10px;
}
.social-networks-list li:hover {
  border-color: #4e26fd;
}
.social-networks-list a {
  display: block;
}
.social-networks-list .facebook {
  width: 26px;
  height: 26px;
  background: url(images/facebook_white_icon.png) no-repeat center;
}
.social-networks-list .twitter {
  width: 26px;
  height: 26px;
  background: url(images/twiter_white_icon.png) no-repeat center;
}
.social-networks-list .instagram {
  width: 26px;
  height: 26px;
  background: url(images/instagram_white_icon.png) no-repeat center;
}
.social-networks-list .youtube {
  width: 26px;
  height: 26px;
  background: url(images/youtube_white_icon.png) no-repeat center;
}
.social-networks-list .facebook:hover {
  background: url(images/facebook_blue_icon.png) no-repeat center;
}
.social-networks-list .twitter:hover {
  background: url(images/twiter_blue_icon.png) no-repeat center;
}
.social-networks-list .instagram:hover {
  background: url(images/instagram_blue_icon.png) no-repeat center;
}
.social-networks-list .youtube:hover {
  background: url(images/youtube_blue_icon.png) no-repeat center;
}

.footer-information {
  border-top: 1px solid white;
  font-size: 16px;
  padding: 15px 10px;
  text-align: center;
  color: white;
}

@media (max-width: 767px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 30;
  }

  .footer-contacts {
    align-items: center;
    order: 3;
  }

  .hide-XS {
    display: none;
  }

  .hiden-menu {
    opacity: 0;
    visibility: hidden;
  }

  .navigation {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 550ms ease-in-out;
    transform: translateY(100%);
    background: white;
  }

  .nav-mobile-menu {
    width: 35px;
    height: 35px;
    position: relative;
    background-color: #4e26fd;
    border-radius: 4px;
  }
  .nav-mobile-menu span {
    display: block;
    position: absolute;
    top: 16px;
    left: 5px;
    right: 4px;
    height: 3px;
    background-color: white;
  }
  .nav-mobile-menu span::before, .nav-mobile-menu span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: white;
    content: "";
  }
  .nav-mobile-menu span::before {
    top: -7px;
  }
  .nav-mobile-menu span::after {
    bottom: -7px;
  }

  .active-menu {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    flex-direction: column;
    z-index: 100;
    justify-content: flex-start;
  }
  .active-menu span::before, .active-menu span::after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
  }
  .active-menu span::before {
    transition-property: top, transform;
  }
  .active-menu span::after {
    transition-property: bottom, transform;
  }

  .nav-mobile-menu.active-menu {
    background-color: #c81212;
  }

  .nav-mobile-menu.active-menu span {
    background: none;
  }

  .nav-mobile-menu.active-menu span::before {
    top: 0;
    transform: rotate(45deg);
  }

  .nav-mobile-menu.active-menu span::after {
    bottom: 0;
    transform: rotate(-45deg);
  }

  .nav-mobile-menu.active-menu span::before,
.nav-mobile-menu.active-menu span::after {
    transition-delay: 0s, 0.3s;
  }

  .align-center {
    align-items: center;
    justify-content: space-between;
  }

  .menu li:first-child {
    margin-top: 60px;
  }
  .menu li {
    margin-bottom: 15px;
  }
  .menu li a {
    height: 30px;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .alagin-center {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .search-form {
    display: flex;
    flex-wrap: wrap;
  }
  .search-form .place {
    width: 667px;
  }
  .search-form .search-button {
    margin-top: 31px;
    margin-left: 8px;
    width: 152px;
  }
  .search-form .chekin-date {
    margin-right: -1px;
  }
  .search-form .search-adult {
    margin-right: 0;
    margin-left: -1px;
  }
  .search-form .search-children {
    margin-left: -8px;
    margin-right: -7px;
  }

  .flex-sm {
    display: flex;
  }

  .menu-footer {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
  }
  .menu-footer li {
    border: 2px solid transparent;
    padding: 0 4px;
    margin-right: 10px;
  }
  .menu-footer li a {
    text-decoration: none;
    display: block;
    color: white;
    font-size: 16px;
    width: max-content;
    height: 30px;
    line-height: 30px;
  }
  .menu-footer li:hover {
    border-color: #4e26fd;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .social-networks {
    padding: 0 0 15px 10px;
  }

  .hotel-card {
    flex-wrap: nowrap;
  }
  .hotel-card .hotel-card-descriptoin {
    margin-left: 5px;
    margin-right: 5px;
  }
  .hotel-card .center .room-price {
    width: calc(100% - 5px);
    font-size: 20px;
  }
  .hotel-card .look-avaible-rooms a {
    width: calc(100% - 5px);
    font-size: 16px;
  }

  .search-form .place {
    width: 265px;
    margin-right: -1px;
  }
  .search-form .search-button {
    width: 119px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .search-form {
    width: 100%;
  }
  .search-form .place {
    width: 400px;
  }
  .search-form .search-button {
    width: 174px;
  }
}

/*# sourceMappingURL=style.css.map */
